body{
    margin: 0px;
    background-color: #003942;
}

header{
    height: 80px;
    width: 100vw;
}

#logoHeader{
    height: 80px;
    width: 100px;
    margin-left: 15px;
}

#textoMiCuenta,#textoCarrito{
    color: white;
    margin-top: 1rem;
}

#imgMiCuenta{
    height: 55px;
    width: 55px;
}

#divArtCar{
    background-color: white;
    width: 60%;
    border-radius: 10px;
    margin-left: 20%;
    margin-top: 80px;
}