body{
    margin: 0;
}

header, footer{
    background-color: #003942;
}

footer{
    height: 250px;
    overflow: hidden;
}

header{
    height: 80px;
    width: 100vw;
}

#logoHeader{
    height: 80px;
    width: 100px;
}

#logoFooter{
    height: 120px;
    width: 140px;
    position: relative;
    top: 7vh;
    left: 2.5vw;
}

#barraBusqueda{
    height: 40px;
    border-radius: 10px;
    width: 500px;
}

#textoMiCuenta,#textoCarrito{
    color: white;
    margin-top: 1rem;
}

#imgMiCuenta{
    height: 55px;
    width: 55px;
}

#imgCarrito{
    height: 45px;
    width: 45px;
}

#barraOpciones{
    height: 40px;
    width: 100vw;
}

.opcion{
    width: 10vw;
}

.pFooter{
    color: white;
}

.redSocial{
    height: 40px;
    width: 40px;
}

.enlacesAyuda{
    margin-top: 30px;
}

#divDetallesProd{
    width: 100%;
    color: white;
    height: 650px;
}