body{
    margin: 0;
}

header, footer{
    background-color: #003942;
}

footer{
    height: 250px;
    overflow: hidden;
}

header{
    height: 80px;
    width: 100vw;
}

#logoHeader{
    height: 100%;
    width: 100%;
}

#divLogo{
    height: 80px;
    width: 100px;
}

#logoFooter{
    height: 120px;
    width: 140px;
    position: relative;
    top: 7vh;
    left: 2.5vw;
}

#barraBusqueda{
    height: 40px;
    border-radius: 10px;
    width: 500px;
}

#textoMiCuenta,#textoCarrito{
    color: white;
    margin-top: 1rem;
}

#imgMiCuenta{
    height: 55px;
    width: 55px;
}

#imgCarrito{
    height: 45px;
    width: 45px;
}

#barraOpciones{
    height: 40px;
    width: 100vw;
}

.opcion{
    width: 10vw;
}

#anuncioDescuento{
    height: 75px;
    background-color: #003942;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    text-shadow: #ccc 1px 0 8px;
    width: 100vw;
    margin-left: 0px;
}

#barraOpciones > *{
    margin-bottom: 0px;
}

.imgCar{
    width: 100%;
    height: 800px;
    width: 100%;
}

#carouselId{
    height: 800px;
    width: 100vw;
    margin-left: 12px;
    padding: 0px;
}

#divBtn{
    position: absolute;
    left: 60%;
    top: 55vh;
    text-align: center;
}

#btnComprar{
    height: 80px;
    width: 150px;
    background-color: #003942;
    color: white;
    border: none;
    border-radius: 10px;
}

#h1Desc,#h2Cod{
    color: white;
}

.row{
    width: 100%;
}

#h1Newsletter{
    position: relative;
    left: 42.5%;
}

.pFooter{
    color: white;
}

#enviarEmail{
    background-color: #003942;
    color: white;
    border: none;
    border-radius: 10px;
}

#dropdown{
    background-color: white;
    color: #003942;
}

.redSocial{
    height: 40px;
    width: 40px;
}

.enlacesAyuda{
    margin-top: 30px;
}

.enlaceBarraNav{
    text-decoration: none;
    color: black;
}

#dropdownMenuOptions{
    color: white;
    background-color: #003942;
    width: 100%;
}

#formNewsletter{
    position: relative;
    left: 50%;
    top: -45px;
}

#textoNewsletter{
    position: relative;
    top: 10px;
    left: 30%;
}

#introduccionEmail{
    border-radius: 8px;
}

#h1NewsletterSm{
    position: relative;
    left: 27.5%;
}

#textoNewsletterSm{
    position: relative;
    top: 10px;
    left: 10%;
}

#formNewsletterSm{
    position: relative;
    left: 50%;
    top: -65px;
}

#enlaceMiCuenta{
    text-decoration: none;
}

#enlaceCarrito{
    text-decoration: none;
}