body{
    margin: 0px;
    background-color: #003942;
}

#divForm{
    background-color: white;
    border-radius: 20px;
    height: 600px;
    margin-top: 100px;
}

#divPosition{
    position: relative;
    left: 25%;
    top: 5%;
}

#submit{
    background-color: #003942;
    color: white;
    border: none;
}

header{
    height: 80px;
    width: 100vw;
}

#logoHeader{
    height: 80px;
    width: 100px;
    margin-left: 15px;
}

#textoMiCuenta,#textoCarrito{
    color: white;
    margin-top: 1rem;
}

#imgMiCuenta{
    height: 55px;
    width: 55px;
}

#imgCarrito{
    height: 45px;
    width: 45px;
}

#divImg{
    text-align: center;
}

#iconoForm{
    height: 125px;
    width: 125px;
    margin-top: 25px;
}

#googleIcon{
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
    border: 3px solid #003942;
    border-radius: 40%;
}

#divGoogleRegistro{
    text-align: center;
    margin-top: 50px;
}

#DivBtnInicioSesion{
    margin-right: 50%;
    text-align: center;
}